.card {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  max-width: 550px;
}
.card .card-title {
  color: #1B325F;
}
.card .btn-primary {
  background-color: #F58549;
  border-color: #F58549;
}
.card a {
  color: #F58549;
}

.dog-paw-icon {
  font-size: 24px;
  margin-right: 5px;
}

/* Auth */

.auth-form {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
}
.auth-form h2 {
  text-align: center;
}

/* Navbar */

.navbar {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
 }
 .navbar a.navbar-brand {
  font-size: 1.5rem;
  margin-left: 15px;
  color: #f58549;
 }

 .navbar .navbar-nav .nav-item .nav-link {
  color: #333;
  font-weight: bold;
 }
 .navbar .navbar-nav .nav-item .nav-link:hover,
 .navbar .navbar-nav .nav-item .nav-link.active {
  color: #f58549;
 }