.navbar {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
 }
 .navbar a.navbar-brand {
  font-size: 1.5rem;
  margin-left: 15px;
  color: #f58549;
 }

 .navbar .navbar-nav .nav-item .nav-link {
  color: #333;
  font-weight: bold;
 }
 .navbar .navbar-nav .nav-item .nav-link:hover,
 .navbar .navbar-nav .nav-item .nav-link.active {
  color: #f58549;
 }