// Custom colors
$primary:       #F58549;
$secondary:     #1B325F;
$success:       #12d112;
$info:          #23eded;
$warning:       #e27305;
$danger:        #5b0000;
$light:         #f6ffff;
$dark:          #99a3b1;




// Nav bar
$navbar-light-active-color: #F58549;
$navbar-light-hover-color: #F58549;
// this is also border around hamburger bar
$navbar-light-color: #f6b592;
$navbar-toggler-focus-width: 0px;


$navbar-light-icon-color: #F58549;

