// _navbar.scss

// .navbar {
//     background-color: #007bff; // Customize the background color
//   }
  
//   .navbar-brand,
//   .navbar-nav .nav-link {
//     color: #ffffff !important; // Set the text color to white
//   }
  
//   .navbar-toggler-icon {
//     background-color: #ffffff; // Set the color of the toggler icon
//   }
  
  // Nav bar
$navbar-light-active-color: #EBC0FF;
$navbar-light-hover-color: #DA8AFF;
// this is also border around hamburger bar
$navbar-light-color: #F5F5F5;
$navbar-toggler-focus-width: 0px;


$navbar-light-icon-color: #EBC0FF;